a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 50px;
}

div {
    color: white;
}

div:hover {
    text-decoration: underline;
}