legend {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(51, 51, 51);
}

body {
    background: #450202;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

fieldset {
    text-align: center;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.21);
    position: relative;
    padding-top: 25px;
}

table {
    border-collapse: collapse;
}

input {
    width: fit-content;
    box-sizing: border-box;
    padding: 8px;
    margin: 5px;
}

.header {
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    width: 100px;
    top: 20px;
}

div {
    text-decoration: underline;
    color: #C51618;
}